@import "base.css";
header{
    width: 7.5rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    color: #4ebbfe;
    padding:0 0.22rem;
    background-color: #fbfeff;
    -webkit-box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    z-index: 999;
}
header a{
    display: inline-block;
    float: left;
    color: #36a8fe;
}
main{
    width: 100%;
    margin-top: 0.88rem;
}
.mainTop{
    /*width: 100%;*/
    color: #000;
    padding: 0.6rem 1.9rem;
    font-size: 0.26rem;
     display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainTop > i{
    color: #4ebbfe;
    font-size: 0.06rem;
    padding: 0.1rem 0.2rem;
}
.mainTop > span{

}
.topBottom{
    margin: 0 0.5rem;
    height: 0.06rem;
    width: 6.44rem;
    background: black;
    opacity: 0.04;
}

.word {
    padding: 0.55rem;
}

.word > p{
    margin-top: 0.2rem;
    color: #000;
    font-size: 0.26rem;
}