@import "base.css";
header{
    width: 7.5rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    color: #4ebbfe;
    padding:0 0.22rem;
    background-color: #fbfeff;
    -webkit-box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
    z-index: 999;
}
header a{
    display: inline-block;
    float: left;
    color: #36a8fe;
}

.middle{
    margin-top: 0.88rem;
    height: 0.8rem;
    background: #3bacfe;
    padding: 0 0.26rem;
}

.middle > .dateIn{
    margin: 0.35rem 0 0.35rem 0.1rem;
    width: 0.2rem;
    height: 0.1rem;
    border-radius: 0.05rem;
    background: #ffffff;
    float: left;
}

.middle > span{
    font-size: 0.38rem;
    float: left;
    padding-left:0.1rem ;
    line-height: 0.8rem;
}

.middle > a {
    height: 100%;
    width: 1.5rem;
    float: right;
}
.middle > a > span{
    font-size: 0.26rem;
    color: white;
}
.middle > a > i{
    color: #ffffff;
    font-size: 0.26rem;
    line-height: 0.8rem;
}

main{
    padding-top: 0.46rem;
}

.pendingOrders{
    padding: 0 0.22rem;
    height: 1.74rem;
}

.pendingOrders > .pendingLeft{
    width: 1.74rem;
    height: 1.74rem;
    /*background: #36FF97;*/
    float: left;
}

.pendingLeft > img{
    width: 1.74rem;
    height: 1.74rem;
}

.pendingOrders > .pendingRight{
    height: 1.74rem;
    width: 5rem;
    float: right;
}

.pendingRight01{
    width: 100%;
    height: 0.36rem;
}

.pendingRight01 > h1{
    display: inline-block;
    font-size: 0.3rem;
    color: black;
    font-weight: normal;
}

.pendingRight01 > span{
    font-size: 0.26rem;
    float: right;
    color: #36FF97;
}
.pendingRight02{
    margin-top: 0.15rem;
    width: 100%;
    height: 0.24rem;

}

.pendingRight02 > i{
    color: #44b5ff;
}
.pendingRight02 > h5{
    display: inline-block;
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
    font-weight: normal;
}

.pendingRight02 > span{
    font-size: 0.26rem;
    color: #36a8fe;
}
.pendingRight03{
    margin-top: 0.7rem;
    width: 100%;
    height: 0.3rem;
}

.pendingRight03 > i{
    color:#36d681;
}

.pendingRight03 > h5{
    display: inline-block;
    font-size: 0.24rem;
    color: #fbb548;
    font-weight: normal;
}

.information{
    margin-top: 0.74rem;
    height: 3.92rem;
    padding: 0 0.22rem;
    /*background: #FF1177;*/
    border-radius: 0.1rem;
}

.informationBig{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
}

.fine{
    height: 0.02rem;
    width: 100%;
    background-color: #000000;
    opacity: 0.02;
}

.lattice{
    width: 100%;
    height: 0.96rem;
    /*background: pink;*/
}

.lattice > i{
    margin-left: 0.16rem;
    color:#44b5ff;
}

.lattice > span{
    margin-left: 0.1rem;
    line-height: 0.96rem;
    color: #8a8c8d;
    font-size: 0.24rem;
}

.latticeZero{
    width: 100%;
    height: 0.98rem;
    /*background: pink;*/
}

.latticeZero > i{
    margin-left: 0.16rem;
    color:#44b5ff;
}

.latticeZero > span{
    margin-left: 0.1rem;
    color: #8a8c8d;
    font-size: 0.24rem;
}


.latticeZero > p{
    margin-left: 1.82rem;
    color: #8a8c8d;
    font-size: 0.24rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.team{
    margin-top: 0.37rem;
    padding: 0 0.22rem;
    /*background: #FF1177;*/
    border-radius:0.1rem;
}

.informationSmall{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
}

.lattice > h1{
    display: inline-block;
    margin-left: 0.1rem;
    margin-right: 0.9rem;
    line-height: 0.96rem;
    color: #3aa9fb;
    font-size: 0.24rem;
    font-weight: normal;
    float: left;
}

.lattice > img {
    width: 0.5rem;
    height: 0.5rem;
    /*background: #FF1177;*/
    margin: 0.23rem 0.23rem;
    float: left;
    border-radius: 50%;
}

.order{
    margin-top: 0.37rem;
    padding: 0 0.22rem;
    /*background: #FF1177;*/
    border-radius: 0.1rem;
}


.informationLittle{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 0.1rem;
    box-shadow: 0px 1px 21px 0px
    rgba(223, 223, 223, 0.43);
}

.lattice  > h2{
    margin-right: 0.24rem;
    line-height: 0.96rem;
    display: inline-block;
    font-size: 0.24rem;
    font-weight: normal;
    color: #8a8c8d;
    float: right;
}

.pay{
    height: 1.2rem;
    /*background-color: #66F8FF;*/
}

.payGiveUp{
    margin: 0.3rem 0.23rem;
    display: inline-block;
    width: 1.96rem;
    height: 0.6rem;
    float: right;
}

.paySuccess{
    margin: 0.3rem 0.23rem;
    display: inline-block;
    width: 2.69rem;
    height: 0.6rem;
    float: right;
}

.paySuccess > a >img{
    width: 2.69rem;
    height: 0.6rem;
    border-radius: 03rem;
}
